# ===================
# Python
# ===================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
*.so
*.egg-info/
.eggs/
*.log

# Virtual environments
venv/
ENV/
env/
.venv/
.idea/

# ===================
# Django
# ===================
db.sqlite3
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.pid

# Django static/media files (if generated)
staticfiles/
static/
media/
assets/

# Local settings
settings.py

# ===================
# PostgreSQL
# ===================
*.pgsql
*.sql
*.dump

# ===================
# Environment files
# ===================
.env
.env.*

# ===================
# VS Code
# ===================
.vscode/
.history/

# ===================
# MacOS and Windows
# ===================
.DS_Store
Thumbs.db